<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Harmony QA Test Automation Test Suite">

	<listeners>
		<listener class-name="com.harmony.qa.listner.ExtentReportListner"/>
	</listeners>

	<test name="Harmony QA Test Cases">
		<classes>
			<class name="com.harmony.qa.tests.LoginPageTest"></class>
			<class name="com.harmony.qa.tests.HomePageTest"></class>
		</classes>
	</test>
</suite>
